version: '3'

services:
  frontend:
    image: {{ frontend_image }}
    container_name: clearway-frontend
    restart: unless-stopped
    networks:
      - app-network
    depends_on:
      - backend

  backend:
    image: {{ backend_image }}
    container_name: clearway-backend
    restart: unless-stopped
    volumes:
      - {{ new_deployment_dir.path }}/data:/app/data
    networks:
      - app-network

  nginx:
    image: {{ nginx_image }}
    container_name: clearway-nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - frontend
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge