module.exports = {
  apps: [
    {
      name: 'clearway-backend',
      script: '{{ app_base_dir }}/latest/backend/server.js',
      env: {
        NODE_ENV: 'production',
        PORT: {{ backend_port }}
      },
      watch: false,
      instances: 1,
      autorestart: true,
      max_restarts: 10
    },
    {
      name: 'clearway-frontend',
      cwd: '{{ app_base_dir }}/latest/frontend',
      script: 'npm',
      args: 'start',
      env: {
        NODE_ENV: 'production',
        PORT: {{ frontend_port }}
      },
      watch: false,
      instances: 1,
      autorestart: true,
      max_restarts: 10
    }
  ]
};